@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme inline {
	--color-header-content: var(--color-black);
	--color-header: var(--color-green-50);

	--color-footer-surface: var(--color-emerald-600);
	--color-footer-content: var(--color-slate-100);

	--color-nav-tab-label: var(--color-zinc-800);
	--color-nav-tab-hover: color-mix(
		in oklab,
		var(--color-zinc-500),
		70% transparent
	);

	--color-button-primary: var(--color-green-400);
	--color-button-secondary: var(--color-green-600);
	--color-button-label: var(--color-zinc-600);
	--color-button-hover: var(--color-green-600);

	--color-brand: var(--color-green-600);
}

@layer theme {
	:root,
	:host {
		/* active when prefers-color-scheme: dark */
		@variant dark {
			--color-button-primary: var(--color-red-400);
			--color-button-tab-active: var(--color-white);
		}
	}
}
